.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout-sub-header-background {
    background: #fff;
}

.Header {

}

.Body {
    background: #5a6169;
    padding: 12px 28px;
    display: flex;
    flex-grow: 1;

    color: white;
}

.Footer {

}

h1, h2, h3, h4, h5, h6, span, div {
  color: white !important;
}

.Divider {
    border: 1px solid #c1c1c5;
    margin-bottom: 16px;
}

button {
    color: black;
}
